.blog{
    background-color: blanchedalmond;
    margin: 40px ;
    border: 10px 20px solid blueviolet;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    box-shadow: 10px 10px 10px 10px blueviolet;
}
.second{
    /* display: none */
    visibility: hidden;
}